body {
    background-color: ghostwhite;
}

#tp {
    font-style: italic;
    font-varia
}

.destaque {
    color: rgb(67, 159, 235);
}

a {
    font-style: inherit;
    color: rgb(42, 65, 95)
}

a:hover {
    color: red;
}

* {
    font-family: 'Times New Roman', Times, serif;
}